body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./assets/backgroiund.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}